<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>inscribeUsuario</servlet-name>
        <servlet-class>ajax.webservices.inscribeUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregaPeticion</servlet-name>
        <servlet-class>ajax.webservices.agregaPeticion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regresaUsuarios</servlet-name>
        <servlet-class>ajax.webservices.regresaUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borraUsuarios</servlet-name>
        <servlet-class>ajax.webservices.borraUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificaUsuario</servlet-name>
        <servlet-class>ajax.webservices.modificaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>publicaMensaje</servlet-name>
        <servlet-class>ajax.webservices.publicaMensaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recuperaMensajes</servlet-name>
        <servlet-class>ajax.webservices.recuperaMensajes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recuperaNuevosMensajes</servlet-name>
        <servlet-class>ajax.webservices.recuperaNuevosMensajes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recuperaPeticiones</servlet-name>
        <servlet-class>ajax.webservices.recuperaPeticiones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtenerSeguidos</servlet-name>
        <servlet-class>ajax.webservices.obtenerSeguidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtenerSeguidores</servlet-name>
        <servlet-class>ajax.webservices.obtenerSeguidores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recuperaTodosMensajes</servlet-name>
        <servlet-class>ajax.webservices.recuperaTodosMensajes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recuperaMensajesPorUsuario</servlet-name>
        <servlet-class>ajax.webservices.recuperaMensajesPorUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recuperaNuevosMensajesPorUsuario</servlet-name>
        <servlet-class>ajax.webservices.recuperaNuevosMensajesPorUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aceptaPeticion</servlet-name>
        <servlet-class>ajax.webservices.aceptaPeticion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>seguirOnoSeguir</servlet-name>
        <servlet-class>ajax.webservices.seguirOnoSeguir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usuario</servlet-name>
        <servlet-class>ajax.webservices.usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cuentaAllGpos</servlet-name>
        <servlet-class>ajax.webservices.cuentaAllGpos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recuperaEntidadGrupo</servlet-name>
        <servlet-class>ajax.webservices.recuperaEntidadGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recuperaGposSeguidos</servlet-name>
        <servlet-class>ajax.webservices.recuperaGposSeguidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creaGrupo</servlet-name>
        <servlet-class>ajax.webservices.creaGrupo</servlet-class>
    </servlet>
    <!-- -->
    <servlet>
        <servlet-name>seguirGpo</servlet-name>
        <servlet-class>ajax.webservices.seguirGpo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dejarDeSeguir</servlet-name>
        <servlet-class>ajax.webservices.dejarDeSeguir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>autocompletadoGrupos</servlet-name>
        <servlet-class>ajax.webservices.autocompletadoGrupos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarGpo</servlet-name>
        <servlet-class>ajax.webservices.borrarGpo</servlet-class>
    </servlet>
    <!-- -->
    <servlet>
        <servlet-name>autocompletadoAmigos</servlet-name>
        <servlet-class>ajax.webservices.autocompletadoAmigos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>validaciones.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtenerSugerenciasAmigos</servlet-name>
        <servlet-class>ajax.webservices.obtenerSugerenciasAmigos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>faveaMensaje</servlet-name>
        <servlet-class>ajax.webservices.faveaMensaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recuperaCalificacionesMsg</servlet-name>
        <servlet-class>ajax.webservices.recuperaCalificacionesMsg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calculaCalificacionesUsuario</servlet-name>
        <servlet-class>ajax.webservices.calculaCalificacionesUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inscribeUsuario</servlet-name>
        <url-pattern>/inscribeUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regresaUsuarios</servlet-name>
        <url-pattern>/regresaUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borraUsuarios</servlet-name>
        <url-pattern>/borraUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificaUsuario</servlet-name>
        <url-pattern>/modificaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>publicaMensaje</servlet-name>
        <url-pattern>/publicaMensaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recuperaMensajes</servlet-name>
        <url-pattern>/recuperaMensajes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recuperaNuevosMensajes</servlet-name>
        <url-pattern>/recuperaNuevosMensajes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recuperaPeticiones</servlet-name>
        <url-pattern>/recuperaPeticiones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregaPeticion</servlet-name>
        <url-pattern>/agregaPeticion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtenerSeguidos</servlet-name>
        <url-pattern>/obtenerSeguidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtenerSeguidores</servlet-name>
        <url-pattern>/obtenerSeguidores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recuperaTodosMensajes</servlet-name>
        <url-pattern>/recuperaTodosMensajes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recuperaMensajesPorUsuario</servlet-name>
        <url-pattern>/recuperaMensajesPorUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recuperaNuevosMensajesPorUsuario</servlet-name>
        <url-pattern>/recuperaNuevosMensajesPorUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aceptaPeticion</servlet-name>
        <url-pattern>/aceptaPeticion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seguirOnoSeguir</servlet-name>
        <url-pattern>/seguirOnoSeguir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cuentaAllGpos</servlet-name>
        <url-pattern>/cuentaAllGpos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usuario</servlet-name>
        <url-pattern>/usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recuperaEntidadGrupo</servlet-name>
        <url-pattern>/recuperaEntidadGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recuperaGposSeguidos</servlet-name>
        <url-pattern>/recuperaGposSeguidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creaGrupo</servlet-name>
        <url-pattern>/creaGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seguirGpo</servlet-name>
        <url-pattern>/seguirGpo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dejarDeSeguir</servlet-name>
        <url-pattern>/dejarDeSeguir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autocompletadoGrupos</servlet-name>
        <url-pattern>/autocompletadoGrupos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarGpo</servlet-name>
        <url-pattern>/borrarGpo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autocompletadoAmigos</servlet-name>
        <url-pattern>/autocompletadoAmigos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtenerSugerenciasAmigos</servlet-name>
        <url-pattern>/obtenerSugerenciasAmigos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>faveaMensaje</servlet-name>
        <url-pattern>/faveaMensaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recuperaCalificacionesMsg</servlet-name>
        <url-pattern>/recuperaCalificacionesMsg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calculaCalificacionesUsuario</servlet-name>
        <url-pattern>/calculaCalificacionesUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.do</welcome-file>
    </welcome-file-list>
    <!-- URL REWRITE -->
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
</web-app>
